body {
  background-color: #d6d6d6;
  margin: 0;
  width: 100%;
  height: 100%;
}
.container {
  margin: 0;
  width: 100%;
  height: 100%;
}
#welcome {
  font-family: fantasy;
  font-size: 40px;
  text-shadow: 2px,2px,2px;
  text-decoration: underline;
  font-weight: bold;
}
.ourStory p {
  font-size: 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-right: 2%;
  padding-left: 2%;
}
.rulesFull, .menu {
  display: none;
}
.rulesButton button, .menuButton button {
  border: 2px solid gray;
  margin: 20%;
}
.carousel-control-next{
  background-color: gray;
}
.carousel-control-prev {
  background-color: gray;
}
.menu {
  margin-top: 3%;
  text-align: center;
}
#start {
  border: 2px solid gray;
}
ul {
  font-size: 25px;
  list-style: none;
}
.wines {
  font-size: 18px;
  font-style: italic;
}
.mainGame, .back {
  display: none;
}
.playerInput {
  display: none;
  opacity: 0.8;
  margin-top: 30%;
}
#playerNameInput {
  border: 2px solid black;
}
.welcomeStory {
  background-image: url("../img/legobar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1100px;
  width: 100%;
}
#header1 {
  opacity: 0.7;
  text-align: center;
}
.header2 {
    display: none;
    text-align: center;
    background: brown; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(brown, black, grey); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(brown, black, grey); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(brown, black, grey); /* For Firefox 3.6 to 15 */
    background: radial-gradient(brown, black, grey); /* Standard syntax */
    padding-top: 20px;
    color: white;
}
.header2 h1 {
  font-family: fantasy;
  margin-top: 0px;
}
.header2 p {
  font-style: italic;
}
#upgradeHeader {
  display: none;
}
.playerUpgrade {
  display: none;
}

/*Player form*/
input:checked ~ img{
  border: 5px solid gray;
  z-index: 2;
}
.playerForm img {
  border: 1px solid black;
  height: 200px;
  width: auto;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked {
  border: 4px solid red;
}

/*Player display*/
.avatarDisplay h4, .mainGame h4{
  color: white;
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;
}
.avatarDisplay {
  float: right;
  text-align: center;
  background-image: url("../img/grayback.jpg");
  min-height: 540px;
}
.avatarDisplay img {
  display: none;
  height: 200px;
  width: auto;
}
.playerName {
  border-radius: 3px;
  background-color: white;
}
.playerBank {
  border-radius: 3px;
  width: 30%;
  margin: auto;
  margin-top: 8px;
  background-color: white;
}
#trigger {
  display: none;
}

/*Customer order area*/
.back {
  border: 0;
  background-image: url("../img/cimg2004.jpg");
  background-size: cover;
}
h3.orderStatement {
  margin-left: 20%;
  /*position: absolute;*/
  width: 30%;
  height: auto;
  text-align: center;
  /*line-height: 100px;*/
  padding: 3;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
.bottombar {
  border-radius: 5px;
  margin-bottom: -20px;
  width: 90%;
}
.customerPic {
  height: 250px;
  width: auto;
}
.back button {
  float: right;
  clear: both;
  /*margin-top: 200px;*/
  width: 200px;
}

/*Game field*/
.bar-pad-bg {
  border: 8px ridge #996600;
  background-image: url("../img/barpad-bg.jpg");
  border-radius: 9px;
}
.bar-pad-bg button {
  margin: 4px 4px;
}
.textOpt {
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
}
.form-control {
  width: 80%;
}
#submitBtn {
  clear: both;
}
.bar-pad-bg button {
  border: 3px solid #996600;
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}

/*Game buttons*/
#brbnBtn {
  background-image: url("../img/brbn.jpg");
}
#ginBtn {
  background-image: url("../img/gin.jpeg");
}
#teqBtn {
  background-image: url("../img/teq.png");
}
#vodBtn {
  background-image: url("../img/vod.png");
}
#rumBtn {
  background-image: url("../img/rum.jpg");
}
/*below is column 2*/
#swtVrBtn {
  background-image: url("../img/swtV.jpg");
}
#trpSecBtn {
  background-image: url("../img/trp.png");
}
#dryVrBtn {
  background-image: url("../img/dry.jpg");
}
#gingBtn {
  background-image: url("../img/ging.jpg");
}
/*below is column 3 and 4*/
#chryBtn {
  background-image: url("../img/chry.jpg");
}
#limeJuiceBtn {
  background-image: url("../img/limejuice.jpg");
}
#twistBtn {
  background-image: url("../img/twist.jpg");
}
#tonicBtn {
  background-image: url("../img/tonic.jpg");
}
#pNBtn {
  background-image: url("../img/pN.jpg");
}
#chardBtn {
  background-image: url("../img/chard.jpg");
}
#beerBtn {
  background-image: url("../img/beer.png");
}
#sodaBtn {
  background-image: url("../img/soda.jpeg");
}
#syrupBtn {
  background-image: url("../img/syrup.jpeg");
}
#lemonBtn {
  background-image: url("../img/lemon.jpg");
}
#cBtn {
  background-image: url("../img2/cab.jpg");
}
