body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0;
  width: 100%;
  height: 100%;
}
.header2 {
    display: none;
}

/*Player form*/
input:checked ~ img{
  border: 5px solid gray;
  z-index: 2;
}
.playerForm img {
  border: 1px solid black;
  height: 200px;
  width: auto;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked {
  border: 4px solid red;
}

/*Player display*/
.avatarDisplay {
  float: right;
  text-align: center;
  background-image: url("../img/grayback.jpg");
  min-height: 540px;
}
.avatarDisplay img {
  display: none;
  height: 200px;
  width: auto;
}
.playerName {
  border-radius: 3px;
  background-color: white;
}
.playerBank {
  border-radius: 3px;
  width: 30%;
  margin: auto;
  margin-top: 8px;
  background-color: white;
}

/*Customer order area*/
.back {
  background-image: url("../img/cimg2004.jpg");
  background-size: cover;
}
h3.orderStatement {
  margin-left: 20%;
  position: relative;
  width: 30%;
  height: auto;
  text-align: center;
  line-height: 100px;
  background-color: #fff;
  border: 8px solid #666;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
h3.orderStatement:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100px;
  border: 25px solid;
  border-color: #666 transparent transparent #666;
}
h3.orderStatement:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
}
.bottombar {
  border-radius: 5px;
  margin-bottom: -20px;
  width: 90%;
}
.customerPic {
  height: 250px;
  width: auto;
}
.back button {
  float: right;
  clear: both;
  margin-top: 200px;
  width: 300px;
}

/*Game field*/
.bar-pad-bg {
  border: 8px ridge #996600;
  /*height: 500px;
  width: 400px;*/
  background-image: url("../img/barpad-bg.jpg");
  border-radius: 9px;
}
.bar-pad-bg button {
  margin: 4px 4px;
}
.textOpt {
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
}
#submitBtn {
  clear: both;
}

/*Game buttons*/
#brbnBtn {
  border: 3px solid #996600;
  background-image: url("../img/brbn.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#ginBtn {
  border: 3px solid #996600;
  background-image: url("../img/gin.jpeg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#teqBtn {
  border: 3px solid #996600;
  background-image: url("../img/teq.png");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#vodBtn {
  border: 3px solid #996600;
  background-image: url("../img/vod.png");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#rumBtn {
  border: 3px solid #996600;
  background-image: url("../img/rum.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
/*below is column 2*/
#swtVrBtn {
  border: 3px solid #996600;
  background-image: url("../img/swtV.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#trpSecBtn {
  border: 3px solid #996600;
  background-image: url("../img/trp.png");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#dryVrBtn {
  border: 3px solid #996600;
  background-image: url("../img/dry.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#gingBtn {
  border: 3px solid #996600;
  background-image: url("../img/ging.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
/*below is column 3 and 4*/
#chryBtn {
  border: 3px solid #996600;
  background-image: url("../img/chry.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#limeJuiceBtn {
  border: 3px solid #996600;
  background-image: url("../img/limejuice.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#twistBtn {
  border: 3px solid #996600;
  background-image: url("../img/twist.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#tonicBtn {
  border: 3px solid #996600;
  background-image: url("../img/tonic.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#pNBtn {
  border: 3px solid #996600;
  background-image: url("../img/pN.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#chardBtn {
  border: 3px solid #996600;
  background-image: url("../img/chard.jpg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#beerBtn {
  border: 3px solid #996600;
  background-image: url("../img/beer.png");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
#sodaBtn {
  border: 3px solid #996600;
  background-image: url("../img/soda.jpeg");
  background-size: cover;
  height: 65px;
  width: 100%;
  border-radius: 3px;
}
